[submodule "project-corpus"]
	path = NLP/Files/project-corpus
	url = git@github.com:UnalNer/texto-pdf.git
[submodule "ml-coursera"]
	path = ML Coursera/matlab
	url = git@bitbucket.org:jcgamar/ml-coursera.git
[submodule "Notebooks"]
	path = NLP/proyecto
	url = git@github.com:UnalNer/Notebooks.git
